<footer>
  <p>Para cada estilo de gamer, hรก um jogo esperando para te fazer feliz</p>
  <p>
    By
    <a
      target="_blank"
      href="https://www.linkedin.com/in/gustavo-martins-681921229/"
      >Gustavo Martins</a
    >
    &copy;
  </p>
</footer>
