<nav>
  <ul>
    <li>
      <img
        src="https://www.pngplay.com/wp-content/uploads/6/Game-Over-Yellow-Transparent-PNG.png"
        alt="Logo"
      />
    </li>
    <li>
      <a href="/">
        <h1>Página inicial</h1>
      </a>
    </li>
    <li><a href="/cadastro#cadastro">Cadastro</a></li>
    <li><a href="/#cards">Meus jogos</a></li>
  </ul>
  <%- include('./pesquisa') %> 
</nav>
<div class="topo"></div>
<div class="base"></div>
