<nav>
  <ul>
    <li>
      <img
        src="https://www.pngplay.com/wp-content/uploads/6/Game-Over-Yellow-Transparent-PNG.png"
        alt="Logo"
      />
    </li>
    <li>
      <a href="/">
        <h1>Catálogo de Jogos</h1>
      </a>
    </li>
    <li><a href="/cadastro#cadastro">Cadastro</a></li>
    <li><a href="/#cards">Jogos</a></li>
  </ul>
</nav>
