<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./components/head') %> 
</head>

<body>

    <%- include('./components/nav') %> 

    <header>
        <img src="https://i.pinimg.com/originals/71/f8/73/71f8736c3628d4661156b62a4d68781f.jpg" alt="banner">
    </header>

    <main>

        <section id="cadastro">

            <img src="https://wallpaperaccess.com/full/1457170.jpg" alt="foto de cadastro">

            <div>
                    <h2>Cadastre um novo jogo!</h2>

                    <form action="/create" method="POST">

                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome">

                        <label for="tipo">Genero:</label>
                        <input type="text" id="genero" name="genero">

                        <label for="descricao">Descrição:</label>
                        <input type="text" id="descricao" name="descricao">

                        <label for="tipo">Plataforma:</label>
                        <input type="text" id="plataforma" name="plataforma">

                        <label for="tipo">Data de lançamento:</label>
                        <input type="text" id="lancamento" name="lancamento">

                        <label for="tipo">Estudio:</label>
                        <input type="text" id="estudio" name="estudio">

                        <label for="imagem">Link da Imagem</label>
                        <input type="text" id="imagem" name="imagem">

                        <button id="btnCadastrar" type="submit">Cadastrar</button>

                    </form>

        </section>

    </main>

    <%- include('./components/footer') %> 

</body>

</html>